.canvas-container {
    position: relative;
    width: 100%;
}

canvas {
    width: 100%;
}

.input-name {
    left: 14%;
    top: 32%;
    border: 0;
    position: absolute;
    width: 72%;
    height: 4%;
    color: #4f3604;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 70px;
    background: 0;
    outline: none;
}
